
<div class="container__big-card">



    <div class="big-card__photo">
      <img
       src="https://storage.googleapis.com/proudcity/mebanenc/uploads/2021/03/placeholder-image.png"
       height="250px"

       alt="main-news"
       >
    </div>

    <div class="big-card__title">
      <h1><a href="">Saiu da rola porro</a></h1>
    </div>

    <div class="big-card__descript">
      <p>
        <a href="">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veritatis, commodi? Nostrum, fugit accusamus maiores vel incidunt porro obcaecati a corrupti, laborum, voluptatum voluptate enim blanditiis fugiat. Illum officiis dolore sit?
        </a>
      </p>
    </div>




</div>
